@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.horizontal-line .line{
    border: .05px solid rgba(211, 211, 211, 0.349);
}

nav .nav-item:hover{
    border-bottom: 3px solid black;
}
.section2, section.yellowdiv{
    font-family: Whitney;
}
.section2 .tab-content .tab-pane .row .column{
border: .3px solid grey;
}
.section2 .tab-content .tab-pane .row .column:hover{
    border: 3.5px solid black;
    border-radius: 10px;
    opacity: .75;
    }
.section2 .tab-content .tab-pane .row .column p{
    color: #3b3d3f;
    }
.section2 .tab-content .tab-pane .row .column img:hover{
        opacity: .85;
        }

.section2 .tab-content .tab-pane .row .column1{
           margin-left: -25px;
           margin-right: 10px;
}
.section2 nav .nav-link{
    color: #767576;
}
.section2 nav a.nav-link:hover, .section2 nav a.nav-link:focus{
background-color: #e6e7e8;
border-bottom: 4px solid blue;
}

.yellowdiv .container{
    background-color: #fde57f;
}

.yellowdiv .container:hover{
    background-color: #fde57f;
    opacity: .9;
}

/* caption-test*/

section div div.caption-test{
    position: relative
  }
  
  section div div.caption-test a {
    display: none;
    position: absolute;
  }
  
  section div div.caption-test:hover a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 6px;
    font-variant: small-caps;
    top: 300px;
    left: 200px;
    width: 100%;
  }

  section.latest div.column:hover{
      opacity: .8;
      transform: scale(1.05);
      transition: .8s ease;
  }

  section.fortune span.double_quote{
      font-size: 56px;
      font-weight: bolder;
      font-family: Whitney;
  }


  section.fortune img:hover{
      filter: invert(1);
  }



input[type=search] {
    font-family: Whitney;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /* background-image: url('https://www.w3schools.com/howto/searchicon.png'); */
    background-position: 10px 15px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

input[type=search]:focus {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
    font-family: Whitney;
    font-size: 20px;
}

.above-nav .advisor {
    background-color: #3b3d3f; 
    color: white;
}
.above-nav .advisor:hover {
    background-color: #767576; 
    color: white;
}

.section1 .column:hover{
    opacity: .8;
}
.section1 a.btn-warning:hover{
    background-color: #fde57f;
}

section.fortune:hover{
    filter: invert(1);
}

footer a{
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}

footer div.row-5 img:hover{
    filter: invert(1);
}























 @media screen and (max-width:1400px){
    .section2 .tab-content .tab-pane .row .column{
        transform:scale(.9);
    }
 }